/* General styles for the About section */
.about-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-color: black;
}

.about-container {
  max-width: 800px;
  margin-right: 80px;
}

.about-title {
  font-family: cursive;
  font-size: 3.0rem;
  color: white;
  margin-bottom: 80px;
  text-align: center;
}

.about-text {
  font-size: 1.5rem;
  font-family: cursive;
  color: plum;
  line-height: 1.5;
  margin-bottom: 10px;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1rem;
  }
}
